<p-fieldset legend="Gestión del trámite {{managementLegend}}">
    <form [formGroup]="formJefeInmediato">
    <div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                <div class="">
                    <label style="color: red">*</label>
                    ¿Permiso remunerado?
                </div>
                <div class="">
                    <p-dropdown [options]="permisoRemunerado" placeholder="Seleccione" optionLabel="nombre"
                        [style]="{minWidth:'100%'}" formControlName="formPermisoRemunerado"
                        ></p-dropdown>
                </div>
            </div>
            <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                <div class="">
                    <label style="color: red">*</label>
                    ¿Requiere reemplazo?
                </div>
                <div class="" >
                    <p-dropdown [options]="requiereReemplazo" placeholder="Seleccione" optionLabel="nombre"
                                [style]="{minWidth:'100%'}" formControlName="formRequiereReemplazo"
                                (onChange)="activarNombreReemplazo($event, 'reemplazo')"></p-dropdown>
                </div>
            </div>
            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6" *ngIf='showReplacementName'>
                <div class="">
                    <label style="color: red">*</label>
                    Nombre reemplazo
                </div>
                <div class="">
                    <input pInputText type="text" [(ngModel)]="nombreReemplazo" 
                        [disabled]="false" formControlName="formNombreReemplazo"/>
                </div>
            </div>
            <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                <div class="">
                    <label style="color: red">*</label>
                    Observaciones
                </div>
                <div class="">
                    <textarea  [rows]="1" [cols]="30" pInputTextarea
                              autoResize="autoResize" required formControlName="formObservaciones"></textarea>
                </div>
            </div>
            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                <div class="">
                    <label style="color: red">*</label>
                    Respuesta del trámite
                </div>
                <div class="">
                    <p-dropdown [options]="respTramite" placeholder="Seleccione" optionLabel="nombre"
                        [style]="{minWidth:'100%'}" formControlName="formRespTramite"
                        ></p-dropdown>
                </div>
            </div>
        </div>
    </div>
    </form>
</p-fieldset>
