<div class="card ui-fluid">
    <p-toast [style]="{marginTop: '80px', height:'180px'}"></p-toast>
    <p-toast [style]="{marginTop: '80px', height:'180px'}" styleClass="custom-toast" key="custom"
             position="bottom-center"></p-toast>
    <p-toast [style]="{marginTop: '80px', height:'180px'}" styleClass="custom-toastError" key="customError"
             position="bottom-center"></p-toast>

    <div class="page-title">
        <app-cabeceraProceso></app-cabeceraProceso>
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-6" style="text-align: start">
                <h1 style="margin-bottom: 40px; color: #2f4050">
                    RADICAR TRÁMITE.
                </h1>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-6" style="text-align: end">
                <h4>Radicacion No: ??</h4>
            </div>
        </div>
    </div>

    <div *ngIf="!!requestType && !!requestType.length">
        <app-informacion-principal *ngIf="!!identificationTypes && identificationTypes.length && !!immediateBosses && immediateBosses.length"
            [tramite]="solicitud"
                                   [requestType]="requestType"
                                   [companyArea]="companyArea"
                                   [immediateBosses]="immediateBosses"
                                   [identificationTypes]="identificationTypes"
                                   [modificarTramite]="modificarTramite"
                                   (enviarInformacionPpal)="enviarInformacionPpal($event)"
                                   (enviarNumeroDocumento)="enviarNumeroDocumento($event)"
                                   (enviarTipoSolicitud)="enviarTipoSolicitud($event)"
                                   [ngClass]="{ disabled :selectedRol && selectedRol.code.indexOf('RH') == 0
     || selectedRol && selectedRol.code.indexOf('GE') == 0 || selectedRol && selectedRol.code.indexOf('JI') == 0 }">
        </app-informacion-principal>
    </div>

    <app-solicitud-vacaciones *ngIf="tipoSolicitud && tipoSolicitud.id === 1"
        [solicitud]="solicitud"
        [modificarTramite]="modificarTramite"
        (enviarInformacionVacaciones)="enviarInformacionVacaciones($event)"
        [ngClass]="{ disabled :selectedRol && selectedRol.code.indexOf('RH') == 0
     || selectedRol && selectedRol.code.indexOf('GE') == 0 || selectedRol && selectedRol.code.indexOf('JI') == 0 }">
    </app-solicitud-vacaciones>

    <app-detalle-solicitud *ngIf="tipoSolicitud && tipoSolicitud.id != 10 && tipoSolicitud.id != 1"
        [solicitud]="solicitud"
        [tipoSolicitud]="tipoSolicitud"
        [modificarTramite]="modificarTramite"
        (enviarInformacionDetalle)="enviarInformacionDetalle($event)"
        (enviarDocumentos)="enviarDocumentos($event)"
        [ngClass]="{ disabled :selectedRol && selectedRol.code.indexOf('RH') == 0
     || selectedRol && selectedRol.code.indexOf('GE') == 0 || selectedRol && selectedRol.code.indexOf('JI') == 0 }"
    ></app-detalle-solicitud>

    <app-gestion-certificados *ngIf="tipoSolicitud && tipoSolicitud.id == 10"
        [solicitud]="solicitud"
        [modificarTramite]="modificarTramite"
        (enviarInformacionCertificado)="enviarInformacionCertificado($event)"
        [ngClass]="{ disabled :selectedRol && selectedRol.code.indexOf('RH') == 0
     || selectedRol && selectedRol.code.indexOf('GE') == 0 || selectedRol && selectedRol.code.indexOf('JI') == 0 }"
    ></app-gestion-certificados>

    <app-trazabilidad-tramite *ngIf="modificarTramite"
        [solicitud]="solicitud"
        (enviarInformacionCertificado)="enviarInformacionCertificado($event)"
    ></app-trazabilidad-tramite>

    <app-botoneraProceso 
        [disabledForm]="disabledForm"
        [pantallaOrigen]="pantallaOrigen"
        (guardarEvent)="guardarEvent($event)"
                         (guardarJefeEvent)="guardarJefeEvent($event)"
                         (guardarGerenteEvent)="guardarGerenteEvent($event)"
                         (guardarRecursosEvent)="guardarRecursosEvent($event)">
    </app-botoneraProceso>

</div>