<div class="ui-g bg-container" style="margin-top:10px" *ngIf="pantallaOrigen && pantallaOrigen.indexOf('CREAR_TRAMITE') == 0">
    <div class="ui-g-10"></div>
    <div class="ui-g-2">
        <button pButton type="button" label="Radicar Trámite" (click)="guardarSolicitud($event)"
                class="blue-blue-btn" [disabled]="disabledForm"></button>
    </div>
</div>

<div class="ui-g bg-container" style="margin-top:10px" *ngIf="pantallaOrigen && pantallaOrigen.indexOf('MODIFICAR_TRAMITE') == 0">
    <div class="ui-g-6"></div>
    <div class="ui-g-3">
        <button pButton type="button" label="Cancelar solicitud trámite" (click)="guardarSolicitud($event)"
                class="blue-blue-btn" [disabled]="disabledForm"></button>
    </div>
    <div class="ui-g-3">
        <button pButton type="button" label="Enviar solicitud de trámite" (click)="guardarSolicitud($event)"
                class="blue-blue-btn" [disabled]="disabledForm"></button>
    </div>
</div>

<div class="ui-g bg-container" style="margin-top:10px" *ngIf="pantallaOrigen &&
                (pantallaOrigen.indexOf('GESTIONAR_SOLICITUD_JEFE') == 0 || pantallaOrigen.indexOf('GESTIONAR_SOLICITUD_GERENTE') == 0 )
                || pantallaOrigen.indexOf('GESTIONAR_SOLICITUD_GH') == 0" >
    <div class="ui-g-8"></div>
    <div class="ui-g-2">
        <button pButton type="button" label="Guardar" (click)="guardarJefe($event)"
                class="blue-blue-btn" [disabled]="disabledForm"></button>
    </div>
    <div class="ui-g-2">
        <button pButton type="button" label="Continuar" (click)="guardarSolicitud($event)"
                class="blue-blue-btn" [disabled]="disabledForm"></button>
    </div>
    <div class="ui-g-2" *ngIf="selectedRol && selectedRol.code.indexOf('GE') == 0">
        <button pButton type="button" label="Guardar Gerente" (click)="guardarGerente($event)"
                class="blue-blue-btn"></button>
    </div>
    <div class="ui-g-2" *ngIf="selectedRol && selectedRol.code.indexOf('RH') == 0">
        <button pButton type="button" label="Recursos Humanos" (click)="guardarRecursos($event)"
                class="blue-blue-btn"></button>
    </div>
</div>
