<div class="footer" style="color: white">
    <div class="card clearfix" style="background-color: rgb(40, 80, 167)">
        <span class="footer-text-left"><img src="../../../../../assets/layout/images/logo2x.png" width="20%"/> Tramites internos</span>
        <span class="footer-text-right">
                    <span class="material-icons ui-icon-copyright"></span>
        <span>All Rights Reserved</span>
        </span>
    </div>
</div>
