<p-dialog class="ui-fluid" header="Perfil Usuario" [(visible)]="display" modal="modal" width="560" [responsive]="true"
    [closable]="false">

    <div class="ui-inputgroup">
        <div class="ui-g-4">
            <label>Tipo Identificación</label>
        </div>
        <div class="ui-g-8">
            <p-dropdown [options]="tipoIdentList" placeholder="Seleccione" optionLabel="nombre"
                (onChange)="selectForm($event, 'identType')" [style]="{minWidth:'100%'}" [disabled]="!editarVsb"
                [(ngModel)]="identTypeSelect"></p-dropdown>
        </div>
    </div>

    <form [formGroup]="formUser">

        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Número Identificación</label>
            </div>
            <div class="ui-g-8">
                <input formControlName="identNumber" pInputText type="text" autocomplete="off" autocorrect="off"
                    autocapitalize="off" spellcheck="off">
            </div>
        </div>

        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Nombre</label>
            </div>
            <div class="ui-g-8">
                <input formControlName="name" pInputText type="text" autocomplete="off" autocorrect="off"
                    autocapitalize="off" spellcheck="off">
            </div>
        </div>

        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Apellido</label>
            </div>
            <div class="ui-g-8">
                <input formControlName="lastName" pInputText type="text" autocomplete="off" autocorrect="off"
                    autocapitalize="off" spellcheck="off">
            </div>
        </div>

        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Nombre Completo</label>
            </div>
            <div class="ui-g-8">
                <input formControlName="fullName" pInputText type="text" autocomplete="off" autocorrect="off"
                    autocapitalize="off" spellcheck="off">
            </div>
        </div>

        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Correo Electrónico</label>
            </div>
            <div class="ui-g-8">
                <input formControlName="email" pInputText type="text" autocomplete="off" autocorrect="off"
                    autocapitalize="off" spellcheck="off">
            </div>
        </div>

    </form>

    <div class="ui-inputgroup" *ngIf="roleSelect">
        <div class="ui-g-4">
            <label>Rol</label>
        </div>
        <div class="ui-g-8">
            <p-dropdown [options]="gruposUsuario" placeholder="Seleccione" optionLabel="nombre"
                (onChange)="selectForm($event, 'newRole')" [style]="{minWidth:'100%'}" [(ngModel)]="roleSelect"
                [disabled]="!editarVsb"></p-dropdown>
        </div>
    </div>

    <p-footer>
        <button type="button" pButton icon="ui-icon-check" (click)="aceptarPerfil()" label="Aceptar"
            class="ui-button-success"></button>
        <button type="button" pButton icon="ui-icon-edit" (click)="editarPerfil()" label="Editar"
            class="ui-button-info"></button>
    </p-footer>
</p-dialog>