<p-fieldset legend="Administración de Usuarios">

    <form class="ui-fluid" [formGroup]="formUser">

        <div class="ui-g-4">
            <div class="ui-g form-group">
                <div class="ui-g-12">
                    <label>Usuario</label>
                </div>
                <div class="ui-g-12">
                    <input formControlName="usuario" pInputText type="text" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="off">
                </div>
            </div>
        </div>

        <div class="ui-g-4">
            <div class="ui-g form-group">
                <div class="ui-g-12">
                    <label>Rol</label>
                </div>
                <div class="ui-g-12">
                    <input formControlName="rol" pInputText type="text" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="off">
                </div>
            </div>
        </div>

        <div class="ui-g-4">
            <div class="ui-g form-group">
                <div class="ui-g-12">
                    <label>Nombre</label>
                </div>
                <div class="ui-g-12">
                    <input formControlName="nombre" pInputText type="text" autocomplete="off" autocorrect="off"
                        autocapitalize="off" spellcheck="off">
                </div>
            </div>
        </div>

        <div class="ui-g-2">
            <div class="ui-g-12">
                <button pButton label="Buscar" icon="ui-icon-search" (click)="buscarGrupo()">
                </button>
            </div>
        </div>

    </form>

    <div class="ui-g-12" style="margin-bottom:10px">
        <p-table [value]="grupoUsuarios" selectionMode="single" [paginator]="true" [responsive]="true"
            [hidden]="!grupoUsuarios" [rows]="10" [style]="{'text-align':'center'}" [customSort]="true">
            <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix">
                    Grupo de Usuarios
                    <button type="button" pButton icon="ui-icon-add" label="Nuevo Usuario" (click)="nuevoUsuario()"
                        iconPos="left" style="float:right" [disabled]="!userAdmin">
                    </button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="font-weight: bold">Usuario</th>
                    <th style="font-weight: bold">Rol de Usuario</th>
                    <th style="font-weight: bold">Nombre</th>
                    <th style="font-weight: bold; width:80px">Editar</th>
                    <th style="font-weight: bold; width:80px">Eliminar</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-index="rowIndex">
                <tr>
                    <td>{{user.user}}</td>
                    <td>{{valorLista(user.role, listaRol)}}</td>
                    <td>{{user.name + " " + user.lastName}}</td>
                    <td>
                        <button type="button" pButton icon="ui-icon-edit" (click)="editarUsuario(user, index)"
                            [disabled]="!userAdmin"></button>
                    </td>
                    <td>
                        <button type="button" pButton icon="ui-icon-delete" class="ui-button-danger"
                            (click)="eliminarUsuario(user)" [disabled]="!userAdmin"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                Total Usuarios {{grupoUsuarios?.length}}
            </ng-template>
        </p-table>

    </div>

</p-fieldset>

<div *ngIf="usuarioPadre">
    <app-detalleAdministracionUsuarios 
        [usuarioHijo]="usuarioPadre" 
        [listaTipoIdent]="listaTipoIdent"
        [listaRol]="listaRol" 
        (guardarUsuario)="guardarUsuario($event)">
    </app-detalleAdministracionUsuarios>
</div>