<p-fieldset legend="Gestión de certificados">

    <div class="ui-g form-group">
        <form [formGroup]="formCertificado">
            <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                <div class="ui-g-3">
                    <label style="color: red">*</label>
                    Tipo de certificado
                </div>
                <div class="ui-g-9" *ngIf="!!certificateType.length">
                    <p-multiSelect [options]="certificateType" [(ngModel)]="certificateTypeSelected"
                        formControlName="formCertificateType" (onChange)="selectCertificateType()"
                        filterPlaceHolder="Seleccione" optionLabel="nombre" defaultLabel="Seleccione"
                        selectedItemsLabel="{0} item seleccionados">
                    </p-multiSelect>
                </div>
            </div>

            <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                <div class="ui-g-3">
                    <label style="color: red">*</label>
                    Observaciones
                </div>
                <div class="ui-g-9">
                    <textarea pInputTextarea [rows]="5" [cols]="30" [(ngModel)]="observaciones"
                        formControlName="formObservaciones" maxlength="200"></textarea>
                </div>
            </div>
        </form>
    </div>

</p-fieldset>