<div class="ui-g bg-container">
    <div class="ui-g-12 ui-md-12 ui-lg-12 my-auto">
        <div class="ui-g-6 ui-md-6 ui-lg-6 my-auto content">
            <img class="img" src="../../../../../assets/layout/images/logo.soaint.png">
        </div>
        <div class="ui-g-6 ui-md-6 ui-lg-6 content">
            <img class="img" src="../../../../../assets/layout/images/tramites.jpg">
        </div>
    </div>

</div>
