<p-dialog header="Documento Anexo" (onHide)="eliminarDoc()" [(visible)]="display" [modal]="true" width="760"
    [responsive]="true" [closable]="true" maximizable="true">

    <div class="ui-inputgroup">
        <div class="ui-g-4">
            <label>Nombre Documento</label>
            <label *ngIf="!documentName" style="color: red"> *</label>
        </div>
        <div class="ui-g-8">
            <input pInputText type="text" [disabled]="pdfData" [(ngModel)]="documentName" />
        </div>
    </div>
    

    <div class="ui-inputgroup ui-g" *ngIf="!!pdfData">
        <div class="ui-g ui-fileupload-row" *ngIf="documentoHijo">
            <div class="ui-g-5">{{ documentoHijo.nombreDocumento }}</div>
            <div class="ui-g-2">{{ documentoHijo.tamano }} KB</div>
            <div class="ui-g-3">{{ documentoHijo.fechaCreacion | date:'dd/MM/yyyy' }}</div>
            <div class="ui-g-2" *ngIf="documentoHijo.tipoArchivo.indexOf('application/pdf') == 0">
                <button alt="Visualizar Contenido" icon="ui-icon-visibility" pButton type="button"
                    (click)="previewPdf(pdfData)"></button>
            </div>
            <div class="ui-g-2" *ngIf="documentoHijo.tipoArchivo.indexOf('image/jpeg') == 0">
                <button alt="Visualizar Contenido" icon="ui-icon-visibility" pButton type="button"
                    (click)="previewImage(pdfData)"></button>
            </div>
            <div class="ui-g-2" *ngIf="documentoHijo.tipoArchivo.indexOf('image/png') == 0">
                <button alt="Visualizar Contenido" icon="ui-icon-visibility" pButton type="button"
                    (click)="previewImage(pdfData)"></button>
            </div>
        </div>
        <pdf-viewer #viewer [src]="url" *ngIf="previewToPdf" [show-all]="true" [original-size]="false"
            style="display: block; overflow-y: scroll;">
        </pdf-viewer>
        <img [src]="url.result" *ngIf="previewToImage" style="display: block; overflow-y: scroll;">
    </div>

    <div class="ui-inputgroup ui-g" *ngIf="!pdfData">
        <div class="ui-g-12">
            <p-messages [(value)]="msgs"></p-messages>
        </div>
        <div class="ui-g-12">
            <p-fileUpload id="doc-digitalize" #uploader mode="advanced" chooseLabel="Buscar" maxFileSize="1000000"
                customUpload="true"
                invalidFileSizeMessageSummary="El documento que desea adjuntar supera el tamaño permitido"
                invalidFileSizeMessageDetail="" [disabled]="uploadDisabled" [showUploadButton]="false"
                [showCancelButton]="false" (onSelect)="onSelect($event)"
                [styleClass]="uploadDisabled?'uploaderDisabled':''">
                <ng-template let-file pTemplate="file">
                    <div class="ui-g-12" *ngIf="documentRefreshed">
                        <div class="ui-g-5">{{ file.name }}</div>
                        <div class="ui-g-2">{{ file.size }} KB</div>
                        <div class="ui-g-3">{{ file.lastModifiedDate | date:'dd/MM/yyyy' }}</div>
                        <div class="ui-g-2" *ngIf="file.type == 'application/pdf'">
                            <button alt="Visualizar Contenido" icon="ui-icon-visibility" pButton type="button"
                                (click)="previewPdf(file)"></button>
                        </div>
                        <div class="ui-g-2" *ngIf="file.type == 'image/jpeg'">
                            <button alt="Visualizar Contenido" icon="ui-icon-visibility" pButton type="button"
                                (click)="previewImage(file)"></button>
                        </div>
                        <div class="ui-g-2" *ngIf="file.type == 'image/png'">
                            <button alt="Visualizar Contenido" icon="ui-icon-visibility" pButton type="button"
                                (click)="previewImage(file)"></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="content" #parent>
                    <pdf-viewer #viewer [src]="url" *ngIf="previewToPdf" [show-all]="true" [original-size]="false"
                        style="display: block; overflow-y: scroll;">
                    </pdf-viewer>
                    <img [src]="url.result" *ngIf="previewToImage" style="display: block; overflow-y: scroll;">
                </ng-template>
            </p-fileUpload>
        </div>
    </div>

    <p-footer>
        <button type="button" pButton icon="ui-icon-check" (click)="guardarDoc()" label="Guardar"
            class="ui-button-success" [disabled]="documentValidate"></button>
        <button type="button" pButton icon="ui-icon-close" (click)="eliminarDoc()" label="Cancelar"
            class="ui-button-danger"></button>
    </p-footer>

</p-dialog>