<p-fieldset legend="Información principal">
    <form [formGroup]="formInfoPrincipal">
    <div class="ui-g">
        
            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6 form-group">
                <div class="ui-g-4">
                    <label style="color: red">*</label>
                    Tipo de trámite
                </div>
                <div class="ui-g-8" *ngIf="!!requestType">
                    <p-dropdown [options]="requestType" placeholder="Seleccione" optionLabel="nombre"
                        [style]="{minWidth:'100%'}" [(ngModel)]="tipoTramiteSel" [filter]="true"
                        [disabled]="modificarTramite" (onChange)="cambioTipoTramite($event, 'idTipoTramite')"
                        [showClear]="true" formControlName="formTipoTramite">
                    </p-dropdown>
                    <!--                <span class="val"-->
                    <!--                      *ngIf="formPagoPse.controls['nitCooperativa'].errors?.required &&formPagoPse.touched && formPagoPse.controls['nitCooperativa'].dirty">Requerido</span>-->
                </div>
            </div>
            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                <div class="ui-g-4">
                    Fecha de solicitud
                </div>
                <div class="ui-g-8">
                    <input pInputText type="text" disabled="true" dateFormat="dd/mm/yy"
                        formControlName="formFechaSolicitud" />
                </div>
            </div>

            <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                <div class="">
                    <label style="color: red">*</label>
                    Nombre empleado
                </div>
                <div class="">
                    <input pInputText type="text" [(ngModel)]="nombre" [disabled]="false" formControlName="formNombre"/>
                </div>
            </div>

            <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                <div class="">
                    <label style="color: red">*</label>
                    Apellido empleado
                </div>
                <div class="">
                    <input pInputText type="text" [(ngModel)]="apellido" [disabled]="false" formControlName="formApellido"/>
                </div>
            </div>

            <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                <div class="">
                    <label style="color: red">*</label>
                    Tipo de documento
                </div>
                <div class="">
                    <p-dropdown [options]="identificationTypes" placeholder="Seleccione" optionLabel="descripcion"
                        [style]="{minWidth:'100%'}" [(ngModel)]="selectedIdentificationType" [showClear]="true"
                        (onChange)="ingresaTipoDocumento($event, 'nn')" formControlName="formTipoIdentificacion">
                    </p-dropdown>
                    <!--                <span class="val"-->
                    <!--                      *ngIf="formPagoPse.controls['nitCooperativa'].errors?.required &&formPagoPse.touched && formPagoPse.controls['nitCooperativa'].dirty">Requerido</span>-->
                </div>
            </div>

            <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                <div class="">
                    <label style="color: red">*</label>
                    Número de documento
                </div>
                <div class="">
                    <span class="ui-float-label">
                        <input pInputText type="number" [ngModel]="numeroDocumento" [disabled]="false"
                            formControlName="formNumeroDocumento"
                            (blur)="ingresaNumDocumento($event, 'formNumeroDocumento')" />
                    </span>
                </div>
            </div>

            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                <div class="">
                    <label style="color: red">*</label>
                    Área
                </div>
                <div class="">
                    <p-dropdown [options]="companyArea" placeholder="Seleccione" optionLabel="nombre" [showClear]="true"
                        [style]="{minWidth:'100%'}" [(ngModel)]="selectedcompanyArea" [filter]="true"
                        (onChange)="immediateBossControl()" formControlName="formArea">
                    </p-dropdown>
                    <!--                <span class="val"-->
                    <!--                      *ngIf="formPagoPse.controls['nitCooperativa'].errors?.required &&formPagoPse.touched && formPagoPse.controls['nitCooperativa'].dirty">Requerido</span>-->
                </div>
            </div>

            <div *ngIf="showImmediateBoss" class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                <div class="">
                    <label style="color: red">*</label>
                    Jefe Inmediato
                </div>
                <div class="" *ngIf="!!immediateBosses">
                    <p-dropdown [options]="immediateBosses" placeholder="Seleccione" optionLabel="nombre"
                        [showClear]="true" [style]="{minWidth:'100%'}" [(ngModel)]="selectedimmediateBoss"
                        [filter]="true" formControlName="formJefeInmediato">
                    </p-dropdown>
                    <!--                <span class="val"-->
                    <!--                      *ngIf="formPagoPse.controls['nitCooperativa'].errors?.required &&formPagoPse.touched && formPagoPse.controls['nitCooperativa'].dirty">Requerido</span>-->
                </div>
            </div>
        
    </div>
</form>
</p-fieldset>