<p-fieldset legend="Gestión del trámite {{managementLegendPerformed}}">
    <div class="ui-g">
        <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="">
                ¿Permiso remunerado?
            </div>
            <div class="">
                <input pInputText type="text" [disabled]="true"
                    [(ngModel)]="managementProcess.permisoRemunerado"/>
            </div>
        </div>
        <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="">
                ¿Requiere remplazo?
            </div>
            <div class="" >
                <input pInputText type="text" [disabled]="true"
                    [(ngModel)]="managementProcess.requiereReemplazo"/>
            </div>
        </div>
        <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6" *ngIf="!!managementProcess.nombreReemplazo">
            <div class="">
                Nombre reemplazo
            </div>
            <div class="">
                <input pInputText type="text" [disabled]="true"
                    [(ngModel)]="managementProcess.nombreReemplazo"/>
            </div>
        </div>
    </div>
</p-fieldset>
