<p-dialog header="Perfil Usuario" [(visible)]="display" modal="modal" width="760" [responsive]="true"
    [closable]="false">

    <div class="form-group">

        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Tipo Identificación</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="listaTipoIdent" placeholder="Seleccione" optionLabel="name"
                    [(ngModel)]="tipoIdentSelect" [style]="{minWidth:'100%'}"></p-dropdown>
            </div>
        </div>

        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Numero Identificación</label>
            </div>
            <div class="ui-g-8">
                <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo.identNumber">
            </div>
        </div>

        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Usuario</label>
            </div>
            <div class="ui-g-8">
                <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo.user" [disabled]="!newUser">
            </div>
        </div>

        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Password</label>
            </div>
            <div class="ui-g-8">
                <input type="password" size="63" pInputText [(ngModel)]="usuarioHijo.password">
            </div>
        </div>

        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Nombre</label>
            </div>
            <div class="ui-g-8">
                <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo.name">
            </div>
        </div>

        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Apellido</label>
            </div>
            <div class="ui-g-8">
                <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo.lastName">
            </div>
        </div>

        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Nombre Completo</label>
            </div>
            <div class="ui-g-8">
                <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo.fullName">
            </div>
        </div>

        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Correo Electronico</label>
            </div>
            <div class="ui-g-8">
                <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo.email">
            </div>
        </div>

        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Rol</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="listaRol" placeholder="Seleccione" optionLabel="name" [(ngModel)]="rolSelect"
                    [style]="{minWidth:'100%'}"></p-dropdown>
            </div>
        </div>

    </div>

    <p-footer>
        <button type="button" pButton icon="ui-icon-check" (click)="guardarUsuarioInfo()" label="Guardar"
            class="ui-button-success"></button>
        <button type="button" pButton icon="ui-icon-close" (click)="cerrar()" label="Cancelar"
            class="ui-button-danger"></button>
    </p-footer>

</p-dialog>