<p-fieldset legend="Gestión del trámite {{managementLegend}}">
    <form [formGroup]="formGerenteGH">
        <div class="ui-fluid">
            <div class="ui-g">
                <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                    <div class="">
                        <label style="color: red">*</label>
                        ¿Permiso remunerado?
                    </div>
                    <div class="">
                        <p-dropdown [options]="paidLeave" placeholder="Seleccione" optionLabel="nombre"
                            [style]="{minWidth:'100%'}" formControlName="formPermisoRemunerado"></p-dropdown>
                    </div>
                </div>
                <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                    <div class="">
                        <label style="color: red">*</label>
                        ¿Requiere remplazo?
                    </div>
                    <div class="">
                        <p-dropdown [options]="requiresReplacement" placeholder="Seleccione" optionLabel="nombre"
                            [style]="{minWidth:'100%'}" formControlName="formRequiereReemplazo"
                            (onChange)="selectedPaidLeave($event, 'reemplazo')"></p-dropdown>
                    </div>
                </div>

                <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6" *ngIf='enableClassification && !showReplacementName'>

                </div>

                <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6" *ngIf='showReplacementName'>
                    <div class="">
                        <label style="color: red">*</label>
                        Nombre reemplazo
                    </div>
                    <div class="">
                        <input pInputText type="text" [(ngModel)]="nombreReemplazo" [disabled]="false"
                            formControlName="formNombreReemplazo" />
                    </div>
                </div>

                <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6" *ngIf="enableClassification">
                    <div class="">
                        <label style="color: red">*</label>
                        Clasificación
                    </div>
                    <div class="" *ngIf="!!disabilityClassificationList.length">
                        <p-dropdown [options]="disabilityClassificationList" placeholder="Seleccione"
                            optionLabel="nombre" [(ngModel)]="seldisabilityClassification" [showClear]="true"
                            formControlName="formClasificacionDiscapacidad" [style]="{minWidth:'100%'}" [filter]="true"
                            (onChange)="validateEnableOther()">
                        </p-dropdown>
                    </div>
                </div>

                <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6" *ngIf="enableOther">
                    <div class="">
                        ¿Cúal?
                    </div>
                    <div class="">
                        <textarea pInputTextarea formControlName="formOtraClasificacion" [rows]="1" [cols]="30"
                            autoResize="autoResize"></textarea>
                    </div>
                </div>

                <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                    <div class="">
                        <label style="color: red">*</label>
                        Observaciones
                    </div>
                    <div class="">
                        <textarea [rows]="1" [cols]="30" pInputTextarea autoResize="autoResize" required
                            formControlName="formObservaciones"></textarea>
                    </div>
                </div>

                <div class="ui-g-12" style="margin-bottom:10px" *ngIf="attachmentsSectionEnabled">
                    <p-table [value]="documents" selectionMode="single" [responsive]="true" [rows]="10"
                        [style]="{'text-align':'center'}">
                        <ng-template pTemplate="caption">
                            <div class="ui-helper-clearfix">
                                <div class="ui-g-12">
                                    Documentos Solicitados
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th></th>
                                <th>Nombre Documento</th>
                                <th style="width:80px">Adjuntar</th>
                                <th style="width:80px">Editar</th>
                                <th style="width:80px" *ngIf="setEditable">Eliminar</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-doc let-index="rowIndex">
                            <tr>
                                <td style="text-align: left;">{{doc.tipoDocumental}}</td>
                                <td>{{doc.nombreDocumento}}</td>
                                <td>


                                    <button type="button" pButton icon="ui-icon-attach-file"
                                        (click)="nuevoDocumento(index)"></button>
                                </td>
                                <td>
                                    <button type="button" pButton icon="ui-icon-edit"
                                        (click)="editarDocumento(doc, index)"></button>
                                </td>
                                <td *ngIf="setEditable">
                                    <button type="button" pButton icon="ui-icon-delete" class="ui-button-danger"
                                        (click)="eliminarDocumento(doc)">
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

                <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                    <div class="">
                        <label style="color: red">*</label>
                        Respuesta del trámite GH
                    </div>
                    <div class="">
                        <p-dropdown [options]="processResponse" placeholder="Seleccione" optionLabel="nombre"
                            [style]="{minWidth:'100%'}" formControlName="formRespTramite"></p-dropdown>
                    </div>
                </div>
            </div>
        </div>
    </form>
</p-fieldset>

<div *ngIf="documentParent">
    <app-tabla-documentos [documentoHijo]="documentParent" [setEditable]="setEditable"
        (guardarDocumentoInfo)="guardarDocumentoInfo($event)">
    </app-tabla-documentos>
</div>