<div class="card ui-fluid">
    <p-toast [style]="{marginTop: '80px', height:'180px'}"></p-toast>
    <p-toast [style]="{marginTop: '80px', height:'180px'}" styleClass="custom-toast" key="custom"
             position="bottom-center"></p-toast>
    <p-toast [style]="{marginTop: '80px', height:'180px'}" styleClass="custom-toastError" key="customError"
             position="bottom-center"></p-toast>

    <div class="page-title">
        <app-cabeceraProceso></app-cabeceraProceso>
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-6" style="text-align: start">
                <h1 style="margin-bottom: 40px; color: #2f4050">
                    RADICAR TRÁMITE .
                </h1>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-6" style="text-align: end">
                <h4>Proceso No: {{instanciaId}} </h4>
                <h4>Tarea No: {{tareaId}} </h4>
            </div>
        </div>
    </div>

    <div>
        <app-informacion-principal *ngIf="!!companyArea && companyArea.length"
                                   [tramite]="solicitud"
                                   [requestType]="requestType"
                                   [companyArea]="companyArea"
                                   [immediateBosses]="immediateBosses"
                                   [identificationTypes]="identificationTypes"
                                   [modificarTramite]="modificarTramite"

                                   (enviarInformacionPpal)="recibirInformacionPpal($event)"
                                   (enviarDiasDisponibles)="enviarDiasDisponibles($event)"
                                   (enviarTipoSolicitud)="enviarTipoSolicitud($event)">
        </app-informacion-principal>
    </div>

    <app-solicitud-vacaciones *ngIf="tipoSolicitud && tipoSolicitud.id === 1 && !!diasDisponibles"
                              [solicitud]="solicitud"
                              [diasDisponibles]="diasDisponibles"

                              (enviarInformacionVacaciones)="recibirInformacionVacaciones($event)">
    </app-solicitud-vacaciones>

    <app-detalle-solicitud *ngIf="tipoSolicitud && tipoSolicitud.id != 10 && tipoSolicitud.id != 1"
                           [solicitud]="solicitud"
                           [tipoSolicitud]="tipoSolicitud"
                           (enviarInformacionDetalle)="recibirInformacionDetalle($event)"
                           (enviarDocumentos)="enviarDocumentos($event)">
    </app-detalle-solicitud>

    <app-gestion-certificados *ngIf="tipoSolicitud && tipoSolicitud.id == 10"
                              [solicitud]="solicitud"
                              (enviarInformacionCertificado)="recibirInformacionCertificado($event)">
    </app-gestion-certificados>

    <app-botoneraProceso
        [disabledForm]="disabledForm"
        [pantallaOrigen]="pantallaOrigen"
        (guardarEvent)="guardarEvent($event)"
        (guardarJefeEvent)="guardarJefeEvent($event)"
        (guardarGerenteEvent)="guardarGerenteEvent($event)"
        (guardarRecursosEvent)="guardarRecursosEvent($event)">
    </app-botoneraProceso>

</div>
