<p-fieldset legend="Administración de Tareas">

    <div class="ui-g-12" style="margin-bottom:10px">
        <p-table [value]="tareas" selectionMode="single" [paginator]="true" [responsive]="true" [rows]="10"
            [style]="{'text-align':'center'}" [customSort]="true">
            <ng-template pTemplate="caption">
                Tareas Usuario
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="font-weight: bold">Id Tarea</th>
                    <th style="font-weight: bold">Nombre</th>
                    <th style="font-weight: bold">Estado</th>
                    <th style="font-weight: bold">Propietario</th>
                    <th style="font-weight: bold">Radicado</th>
                    <th style="font-weight: bold; width:80px">Asignar Tarea</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-task>
                <tr>
                    <td>{{task.taskId}}</td>
                    <td>{{task.taskName}}</td>
                    <td>{{task.taskStatus}}</td>
                    <td>{{task.taskActualOwner}}</td>
                    <td>{{task.instanceId}}</td>
                    <td>
                        <button type="button" pButton icon="ui-icon-transfer-within-a-station"
                            (click)="reasignarTarea(task)">
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                Total Tareas {{tareas?.length}}
            </ng-template>
        </p-table>
    </div>

</p-fieldset>

<div *ngIf="!!request.assignment.user">
    <app-reasignarTareaDetalle [taskActualOwner]="request.assignment.user"
        (enviarAsignacion)="enviarAsignacion($event)">
    </app-reasignarTareaDetalle>
</div>