<p-fieldset legend="Detalle de la solicitud">

    

        <div class="ui-g">
            <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" *ngIf="!!solicitud && !!solicitud.detalleTramite.diasSolicitados">
                <div class="ui-g-4">
                    Día(s) solicitado(s)
                </div>
                <div class="ui-g-8">
                    <input pInputText type="number" [(ngModel)]="solicitud.detalleTramite.diasSolicitados" 
                        [disabled]="true"/>
                </div>
            </div>

            <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" *ngIf="!!solicitud && !!solicitud.detalleTramite.fechaDiaSolicitado">
                <div class="ui-g-4">
                    Fecha del día solicitado
                </div>
                <div class="ui-g-8">
                    <input pInputText type="text" [disabled]="true" dateFormat="dd/mm/yy"
                        [(ngModel)]="solicitud.detalleTramite.fechaDiaSolicitado"/>
                </div>
            </div>

            <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" *ngIf="!!solicitud && !!solicitud.detalleTramite.horaInicio">
                <div class="ui-g-4">
                    *Hora inicio
                </div>
                <div class="ui-g-8">
                    <input pInputText type="text" [disabled]="true" 
                        [(ngModel)]="solicitud.detalleTramite.horaInicio"/>
                </div>
            </div>

            <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" *ngIf="!!solicitud && !!solicitud.detalleTramite.horaFin">
                <div class="ui-g-4">
                    *Hora fin
                </div>
                <div class="ui-g-8">
                    <input pInputText type="text" [disabled]="true" 
                        [(ngModel)]="solicitud.detalleTramite.horaFin"/>
                </div>
            </div>

            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4" *ngIf="!!solicitud && !!solicitud.detalleTramite.fechaInicio">
                <div class="ui-g-4">
                    *Fecha inicio
                </div>
                <div class="ui-g-8">
                    <input pInputText type="text" [disabled]="true" dateFormat="dd/mm/yy"
                        [(ngModel)]="solicitud.detalleTramite.fechaInicio"/>
                </div>
            </div>
            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4" *ngIf="!!solicitud && !!solicitud.detalleTramite.fechaFin">
                <div class="ui-g-4">
                    *Fecha fin
                </div>
                <div class="ui-g-8">
                    <input pInputText type="text" [disabled]="true" dateFormat="dd/mm/yy"
                        [(ngModel)]="solicitud.detalleTramite.fechaFin"/>
                </div>
            </div>

        </div>

        <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6" *ngIf="true">
            <div class="ui-g-3">
                Motivo de la solicitud
            </div>
            <div class="ui-g-9" *ngIf="!!selectedReasonForRequest">
                <input pInputText type="text" [disabled]="true"
                    [(ngModel)]="selectedReasonForRequest.nombre"/>
            </div>
        </div>

        <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6" *ngIf="!!solicitud && !!solicitud.detalleTramite.otroMotivo">
            <div class="ui-g-2">
                ¿Cúal?
            </div>
            <div class="ui-g-10">
                <textarea pInputTextarea [rows]="1" [cols]="30" 
                    [disabled]="true"  [(ngModel)]="solicitud.detalleTramite.otroMotivo"
                    autoResize="autoResize"></textarea>
            </div>
        </div>
    

    <div class="ui-g-12" style="margin-bottom:10px" *ngIf="!!solicitud && !!solicitud.detalleTramite.nombreArchivo">
        <p-table [value]="documents" selectionMode="single" [responsive]="true" [rows]="10"
            [style]="{'text-align':'center'}">
            <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix">
                    <div class="ui-g-12">
                        {{documentTypeSelected.nombre}}
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre Documento</th>
                    <th style="width:80px">Ver</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-doc let-index="rowIndex">
                <tr>
                    <td>{{doc.nombreDocumento}}</td>
                    <td>
                        <button type="button" pButton icon="ui-icon-visibility"
                            (click)="editarDocumento(doc, index)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</p-fieldset>

<div *ngIf="documentParent">
    <app-tabla-documentos 
        [documentoHijo]="documentParent" 
        [setEditable]="setEditable" 
        (guardarDocumentoInfo)="guardarDocumentoInfo($event)">
    </app-tabla-documentos>
</div>
