<div class="profile" [ngClass]="{'profile-expanded':active}">
    <a href="#" (click)="onClick($event)">
        <img class="profile-image" src="assets/layout/images/logo-persona.png" />
        <span class="profile-name" *ngIf="!!currentUser && !!currentUser.name">
            {{currentUser.name}}
        </span><br>
        <span class="profile-name" style="font-size: 80%">{{currentUser.roleName}}</span><br>
        <i class="material-icons">keyboard_arrow_down</i>
    </a>
</div>

<ul class="ultima-menu profile-menu" [@menu]="active ? 'visible' : 'hidden'">
    <li role="menuitem">
        <a class="ripplelink" [attr.tabindex]="!active ? '-1' : null" (click)="logout()">
            <i class="material-icons">power_settings_new</i>
            <span>Cerrar Sesión</span>
        </a>
    </li>
</ul>