<p-fieldset legend="Detalle de la solicitud">

    <form [formGroup]="formDetalleSolicitud" name="myForm">

        <div class="ui-g">
            <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                <div class="ui-g-4">
                    <label style="color: red">*</label>
                    Día(s) solicitado(s)
                </div>
                <div class="ui-g-8">
                    <input pInputText type="number" [(ngModel)]="requestedDays" formControlName="formDiasSolicitados" 
                    (ngModelChange)="updateEndDate()"/>
                    <p-message *ngIf="requestedDays < 1" severity="error" text="Por favor ingrese un valor mayor a 0" ></p-message>
                </div>
            </div>

            <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" *ngIf="requestedDays == 1">
                <div class="ui-g-4">
                    <label style="color: red">*</label>
                    Fecha del día solicitado
                </div>
                <div class="ui-g-8">
                    <p-calendar formControlName="formFechaDiaSolicitado" [(ngModel)]="fechaDiaSolicitado" [disabledDates]="invalidDates" [disabledDays]="[0,6]" [readonlyInput]="true"
                                dateFormat="dd/mm/yy" [showIcon]="true" [minDate]="minDate"></p-calendar>
                    <p-message *ngIf="modificarTramite == false? fechaDiaSolicitado < currentDate : false"  severity="error" text=" la fecha no puede ser menor a la actual"></p-message>
                </div>
            </div>

            <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" *ngIf="requestedDays == 1">
                <div class="ui-g-4">
                    <label style="color: red">*</label>
                    Hora inicio
                </div>
                <div class="ui-g-8">
                    <p-calendar [timeOnly]="true" [(ngModel)]="startTime" formControlName="formHoraInicio"></p-calendar>
                </div>
            </div>

            <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" *ngIf="requestedDays == 1">
                <div class="ui-g-4">
                    <label style="color: red">*</label>
                    Hora fin
                </div>
                <div class="ui-g-8">
                    <p-calendar [timeOnly]="true" [(ngModel)]="endTime" formControlName="formHoraFin"></p-calendar>
                    <p-message *ngIf="endTime <= startTime"  severity="error" text="La hora fin no puede ser menor a la hora de inicio"></p-message>
                </div>
            </div>

            <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" *ngIf="requestedDays > 1">
                <div class="ui-g-4">
                    <label style="color: red">*</label>
                    Fecha inicio
                </div>
                <div class="ui-g-8">
                    <p-calendar formControlName="formFechaInicio" [(ngModel)]="startDate" [disabledDates]="invalidDates" 
                    [disabledDays]="[0,6]" [readonlyInput]="true" dateFormat="dd/mm/yy" [showIcon]="true" 
                    (onSelect)="updateEndDate()"></p-calendar>
                    <p-message *ngIf="modificarTramite == false? startDate < currentDate : false"  severity="error" text=" la fecha no puede ser menor a la actual"></p-message>
                </div>
            </div>
            <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" *ngIf="requestedDays > 1">
                <div class="ui-g-4">
                    <label style="color: red">*</label>
                    Fecha fin
                </div>
                <div class="ui-g-8">
                    <p-calendar formControlName="formFechaFin" [(ngModel)]="endDate" [disabledDates]="invalidDates" [disabledDays]="[0,6]" 
                    [readonlyInput]="true" dateFormat="dd/mm/yy" [showIcon]="true" [disabled]="true"></p-calendar>
                    <p-message *ngIf="modificarTramite == false? startDate < currentDate : false"  severity="error" text=" la fecha no puede ser menor a la actual"></p-message>
                </div>
            </div>
            <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" *ngIf="requestedDays > 1">
                <div class="ui-g-4">
                    <label style="color: red">*</label>
                    Fecha reintegro
                </div>
                <div class="ui-g-8">
                    <p-calendar formControlName="formFechaReintegro" [(ngModel)]="fechaReintegro" [disabledDates]="invalidDates" [disabledDays]="[0,6]" 
                    [readonlyInput]="true" dateFormat="dd/mm/yy" [showIcon]="true" [disabled]="true"></p-calendar>
                </div>
            </div>
            

        </div>

        <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6" *ngIf="enableReasonForRequest">
            <div class="ui-g-3">
                <label style="color: red">*</label>
                Motivo de la solicitud
            </div>
            <div class="ui-g-9" *ngIf="!!reasonForRequest && reasonForRequest.length">
                <p-dropdown [options]="reasonForRequest" placeholder="Seleccione" optionLabel="nombre"
                    [(ngModel)]="motivoSolicitudSel" [showClear]="true" formControlName="formMotivoSolicitud"
                    [style]="{minWidth:'100%'}" [filter]="true" (onChange)="validarHabilitarOtro()">
                </p-dropdown>
            </div>
        </div>

        <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6" *ngIf="enableOther">
            <div class="ui-g-2">
                ¿Cúal?
            </div>
            <div class="ui-g-10">
                <input pInputText type="text" [(ngModel)]="otroMotivo" formControlName="formOtroMotivo"/>
            </div>
        </div>

        <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
            <div class="">
                Observaciones
            </div>
            <div class="">
                <textarea [rows]="5" [cols]="30" pInputTextarea maxlength="200" [(ngModel)]="observacion"
                    formControlName="formObservacion"></textarea>
            </div>
        </div>

    </form>

    <div class="ui-g-12" style="margin-bottom:10px" *ngIf="attachmentsSectionEnabled">
        <p-table [value]="documents" selectionMode="single" [responsive]="true" [rows]="10"
            [style]="{'text-align':'center'}">
            <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix">
                    <div class="ui-g-9">
                        {{documentTypeSelected.nombre}}
                    </div>
                    <div class="ui-g-3">
                        <button *ngIf="setEditable" type="button" pButton icon="ui-icon-add" label="Adjuntar" [disabled]="disabledAddFile"
                            (click)="nuevoDocumento()" style="width:100%">
                        </button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre Documento</th>
                    <th style="width:80px">Editar</th>
                    <th style="width:80px" *ngIf="setEditable">Eliminar</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-doc let-index="rowIndex">
                <tr>
                    <td>{{doc.nombreDocumento}}</td>
                    <td>
                        <button type="button" pButton icon="ui-icon-edit"
                            (click)="editarDocumento(doc, index)"></button>
                    </td>
                    <td *ngIf="setEditable">
                        <button type="button" pButton icon="ui-icon-delete" class="ui-button-danger"
                            (click)="eliminarDocumento(doc)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div align="center" class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12" *ngIf="attachmentsSectionEnabled && attachmentsTextSectionEnabled && requestedDays > 2"> 
        <p><b>
            Deberá adjuntar en un único PDF los documentos que a continuación se nombran para soportar el trámite: 
            incapacidad, historia clínica y copia del carnet eps (o copia del carnet de medicina prepagada).
        </b></p> 
        <p style="color:#5180ce"><b><u>
            Los anteriores documentos deberán entregarse en físico al área de Gestión humana.
        </u></b></p> 
    </div>
    

</p-fieldset>

<div *ngIf="documentParent">
    <app-tabla-documentos 
        [documentoHijo]="documentParent" 
        [setEditable]="setEditable" 
        (guardarDocumentoInfo)="guardarDocumentoInfo($event)">
    </app-tabla-documentos>
</div>
