<p-fieldset legend="Información principal">

    <div class="ui-g">
        <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6 form-group">
            <div class="ui-g-4">
                *Tipo de trámite
            </div>
            <div class="ui-g-8" *ngIf="!!selectedRequestType">
                <input pInputText type="text" [(ngModel)]="selectedRequestType.nombre" 
                [disabled]="true" />
            </div>
        </div>

        <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
            <div class="ui-g-4">
                Fecha de solicitud
            </div>
            <div class="ui-g-8" *ngIf="!!solicitud">
                <input pInputText type="text" disabled="true" dateFormat="dd/mm/yy"
                [(ngModel)]="solicitud.fecha"/>
            </div>
        </div>

        <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="">
                *Nombre empleado
            </div>
            <div class="" *ngIf="!!solicitud">
                <input pInputText type="text" [(ngModel)]="solicitud.nombreEmpleado" 
                [disabled]="true" />
            </div>
        </div>

        <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" >
            <div class="">
                *Apellido empleado
            </div>
            <div class="" *ngIf="!!solicitud">
                <input pInputText type="text" [(ngModel)]="solicitud.apellidoEmpleado" 
                [disabled]="true"/>
            </div>
        </div>

        <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="">
                *Tipo de documento
            </div>
            <div class="" *ngIf="!!selectedIdentificationType">
                <input pInputText type="text" [(ngModel)]="selectedIdentificationType.descripcion" 
                    [disabled]="true"/>
            </div>
        </div>

        <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="">
                *Número de documento
            </div>
            <div class="" *ngIf="!!solicitud">
                <span class="ui-float-label">
                <input pInputText type="text" [ngModel]="solicitud.identificacion" 
                    [disabled]="true"/>
                </span>
            </div>
        </div>

        <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
            <div class="">
                *Área
            </div>
            <div class="" *ngIf="!!selectedcompanyArea">
                <input pInputText type="text" [(ngModel)]="selectedcompanyArea.nombre" 
                    [disabled]="true"/>
            </div>
        </div>

        <div *ngIf="showImmediateBoss" class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
            <div class="">
                *Jefe Inmediato
            </div>
            <div class="">
                <input pInputText type="text" [(ngModel)]="selectedProcessManagers.nombre + ' ' + selectedProcessManagers.apellido" 
                    [disabled]="true"/>
            </div>
        </div>
        
    </div>
</p-fieldset>


