<p-fieldset class="ui-fluid" legend="Administración de Procesos">

    <div class="ui-inputgroup">
        <div class="ui-g-6" *ngIf="listaContenedor">
            <div class="ui-g-4">
                <label>Espacio de Trabajo</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="listaContenedor" [(ngModel)]="contenedorSelect" optionLabel="containerAlias"
                    [style]="{minWidth:'100%'}" placeholder="Seleccione">
                </p-dropdown>
            </div>
        </div>

        <div class="ui-g-6">
            <div class="ui-g-6">
                <button pButton label="Buscar" icon="ui-icon-search" (click)="buscarProcesos(contenedorSelect)"
                    [disabled]="!contenedorSelect">
                </button>
            </div>
        </div>
    </div>

    <div class="ui-g-12" style="margin-bottom:10px">
        <p-table [value]="procesos" selectionMode="single" [responsive]="true" [hidden]="!procesos"
            [style]="{'text-align':'center'}">
            <ng-template pTemplate="caption">
                Procesos
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="font-weight: bold">Id de Proceso</th>
                    <th style="font-weight: bold">Nombre Proceso</th>
                    <th style="font-weight: bold">Versión</th>
                    <th style="font-weight: bold; width:80px">Iniciar Proceso</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-process>
                <tr>
                    <td>{{process.processId}}</td>
                    <td>{{process.processName}}</td>
                    <td>{{process.processVersion}}</td>
                    <td>
                        <button type="button" pButton icon="ui-icon-playlist-add"
                            (click)="iniciarProceso(process)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                Resumen Procesos
            </ng-template>
        </p-table>
    </div>

</p-fieldset>