.fa-eye-slash:hover,
.fa-eye:hover {
  cursor: pointer;
}

.procesando-temp {
  background: #8080801c;
  height: 625px;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}