<!-- <link id="theme-css" rel="stylesheet" type="text/css" href="../../../../../../assets/layout/css/bootstrap/bootstrap.min.css"> -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">


<div *ngIf="showProgressBar" class="procesando-temp">
    <!-- <p-lightbox type="content"> -->
        <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
    <!-- </p-lightbox> -->
    <!-- <p-progressBar mode="indeterminate" [style]="{'height': '10px'}"></p-progressBar> -->
    
</div>
<p-messages [(value)]="msgs" *ngIf="!showProgressBar"></p-messages>
<div class="card login-panel ui-fluid" *ngIf="!showProgressBar">
    <div class="ui-g">
        <div class="ui-g-12">
            <img src="assets/layout/images/logo.png">
        </div>
        <form (ngSubmit)="submit()" [formGroup]="form" novalidate>
            <div class="ui-g-12">
                <span class="md-inputfield ui-float-label">
                    <input pInputText formControlName="username" id="username" type="text" autocomplete="off"
                        class="ui-inputtext ui-corner-all ui-state-default ui-widget" autocorrect="off"
                        autocapitalize="off" spellcheck="off">
                    <label for="username">Username</label>
                </span>
            </div>
            <div class="ui-g-12">
                <span class="md-inputfield ui-float-label">
                    <input formControlName="fomrPassword" pInputText id="passwordInput" [(ngModel)]="password"
                        [type]="showPassword ? 'text' : 'password'" autocomplete="off"
                        class="ui-inputtext ui-corner-all ui-state-default ui-widget" autocorrect="off"
                        autocapitalize="off" spellcheck="off">
                    <label for="passwordInput">Password</label>
                    <span *ngIf="password"
                        (click)="toggleShowPassword($event)"
                        class="glyphicon {{classShowPassword}} form-control-feedback"
                        style="cursor: pointer; pointer-events: all;">
                    </span>
                </span>
            </div>
            <div class="ui-g-12">
                <button type="submit" [disabled]="form.invalid"
                    class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
                    <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
                    <span class="ui-button-text ui-c">Iniciar sesión</span>
                </button>
            </div>
            <div class="ui-g-12">
                <h6>Ver: 20/05/2020 11:30pm</h6>
            </div>
        </form>
    </div>

</div>