<p-fieldset legend="Administración de Tareas">

  <div class="ui-g-12" style="margin-bottom:10px">
    <p-table [value]="tareas" selectionMode="single" [paginator]="true" [responsive]="true"
      [rows]="10" [style]="{'text-align':'center'}" [customSort]="true">
        <ng-template pTemplate="caption">
          Tareas
        </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th style="font-weight: bold; width:10%">Id Tarea</th>
              <th style="font-weight: bold; width:30%">Nombre</th>
              <th style="font-weight: bold; width:25%">Estado</th>
              <th style="font-weight: bold; width:30%">Propietario</th>
              <th style="font-weight: bold; width:15%">Radicado</th>
              <th style="font-weight: bold; width:10%">Iniciar Tarea</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>
        <tr>
          <td>{{task.taskId}}</td>
          <td>{{task.taskName}}</td>
          <td>{{task.taskStatus}}</td>
          <td>{{task.taskActualOwner}}</td>
          <td>{{task.instanceId}}</td>
          <td>
            <button type="button" pButton icon="ui-icon-playlist-add"
              (click)="enrutarIniciarTarea(task)">
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        Total Tareas  {{tareas?.length}}
      </ng-template>
    </p-table>
  </div>

</p-fieldset>
