<p-fieldset legend="Solicitud de vacaciones">
    <div class="ui-g">
        <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g-6">
                Días disponibles
            </div>  
            <div class="ui-g-6" *ngIf="!!solicitud && !!solicitud.vacacionesTramite">
                <input pInputText type="number" disabled="true" [(ngModel)]="solicitud.vacacionesTramite.diasDisponibles"
                />
            </div>
        </div>

        <div class="ui-sm-9 ui-g-9 ui-lg-9 ui-md-9">
            <div class="ui-g-1" *ngIf="!!solicitud && solicitud.vacacionesTramite">
                <p-checkbox [(ngModel)]="solicitud.vacacionesTramite.solicitaDiasAnticipados"
                [disabled]="true" binary="true">
                </p-checkbox>   
            </div>
            <div class="ui-g-11">
                ¿Solicitar días anticipados?
            </div>
        </div>

        <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
            <div class="">
                Fecha inicio
            </div>
            <div class="" *ngIf="!!solicitud && !!solicitud.vacacionesTramite">
                <input pInputText type="text" disabled="true" dateFormat="dd/mm/yy"
                    [(ngModel)]="solicitud.vacacionesTramite.fechaInicio"/>
            </div>
        </div>

        <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
            <div class="">
                Fecha fin
            </div>
            <div class="" *ngIf="!!solicitud && !!solicitud.vacacionesTramite">
                <input pInputText type="text" disabled="true" dateFormat="dd/mm/yy"
                    [(ngModel)]="solicitud.vacacionesTramite.fechaFin"/>
            </div>
        </div>

        <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
            <div class="">
                Fecha reintegro
            </div>
            <div class="" *ngIf="!!solicitud && !!solicitud.vacacionesTramite">
                <input pInputText type="text" disabled="true" dateFormat="dd/mm/yy"
                    [(ngModel)]="solicitud.vacacionesTramite.fechaReintegro"/>
            </div>
        </div>

        <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
            <div class="">
                Total días solicitados
            </div>
            <div class="ui-g-8" *ngIf="!!solicitud && !!solicitud.vacacionesTramite">
                <input type="number" [(ngModel)]="solicitud.vacacionesTramite.totalDiasSolicitados" [disabled]="true" 
                pInputText/>
            </div>
        </div>

        <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6" *ngIf="checkedAvailableDays">
            <div class="">
                Total días anticipados
            </div>
            <div class="ui-g-8" *ngIf="!!solicitud && !!solicitud.vacacionesTramite">
                <input type="number" [(ngModel)]="solicitud.vacacionesTramite.totalDiasAnticipados" [disabled]="true" 
                pInputText/>
            </div>
        </div>

    </div>
</p-fieldset>
