<p-fieldset legend="Gestión de certificados">

    <div class="ui-g form-group">
            <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
                <div class="ui-g-3">
                    Tipo de certificado
                </div>
                <div class="ui-g-9" *ngIf="!!certificateTypeList.length">
                    <p-multiSelect [options]="certificateTypeList" [(ngModel)]="certificateTypeSelected" 
                        (onChange)="selectCertificateType()" filterPlaceHolder="Seleccione" optionLabel="nombre"
                        defaultLabel="Seleccione" selectedItemsLabel="{0} item seleccionados" [disabled]="true">
                    </p-multiSelect>
                </div>
            </div>
    </div>

</p-fieldset>