<p-fieldset legend="Solicitud de vacaciones">

    <form [formGroup]="formVacaciones">
        <div class="ui-g">
            <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
                <div class="ui-g-6">
                    Días disponibles
                </div>
                <div class="ui-g-6">
                    <input pInputText type="number" size="3" disabled="true" [(ngModel)]="diasDisponibles"
                    formControlName="formDiasDisponibles" />
                </div>
            </div>

            <div class="ui-sm-9 ui-g-9 ui-lg-9 ui-md-9">
                <div class="ui-g-1">
                    <p-checkbox [(ngModel)]="checkDiasDisponibles" formControlName="formCheckDiasAnticipados"
                    [disabled]="disabledCheckedAvailableDays" binary="true">
                    </p-checkbox>   
                </div>
                <div class="ui-g-11">
                    ¿Solicitar días anticipados?
                </div>
            </div>

            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="">
                    <label style="color: red">*</label>
                    Fecha inicio
                </div>
                <div class="">
                    <p-calendar formControlName="formFechaInicio" [(ngModel)]="startDate" [disabledDates]="invalidDates"
                    [disabledDays]="[0,6]" [readonlyInput]="true" [minDate]="minDate"
                    dateFormat="dd/mm/yy" [showIcon]="true" (onSelect)="onChangeStartDate($event)"></p-calendar>
                    <p-message *ngIf="startDate >= endDate"  severity="error" text=" Debe ser menor a la fecha fin"></p-message>
                    <p-message *ngIf="showErrorStartDate"  severity="error" text=" Debe ser menor a la fecha fin" showTransitionOptions="'0ms'" hideTransitionOptions="'0ms'"></p-message>
                </div>
            </div>

            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="">
                    <label style="color: red">*</label>
                    Fecha fin
                </div>
                <div class="">
                    <p-calendar formControlName="formFechaFin" [(ngModel)]="endDate" [disabledDates]="invalidDates" 
                    [disabledDays]="[0,6]" [readonlyInput]="true" [minDate]="minDate"
                    dateFormat="dd/mm/yy" [showIcon]="true" (onSelect)="onChangeEndDate($event)"></p-calendar>
                    <p-message *ngIf="endDate <= startDate"  severity="error" text=" Debe ser mayor a la fecha inicio"></p-message>
                </div>
            </div>

            <div class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
                <div class="">
                    Fecha reintegro
                </div>
                <div class="">
                    <p-calendar formControlName="formFechaReintegro" [(ngModel)]="returnDate"
                    [locale]="es" dateFormat="dd/mm/yy" [showIcon]="true" disabled="true" 
                                (onInput)="adelantarDia($event)"></p-calendar>
                </div>
            </div>

            

            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                <div class="">
                    Total días solicitados
                </div>
                <div class="ui-g-8">
                    <input type="number" size="30" [(ngModel)]="totalDaysRequested" disabled="true" 
                    formControlName="formDiasSolicitados" pInputText/>
                </div>
            </div>

            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6" *ngIf="checkDiasDisponibles">
                <div class="">
                    Total días anticipados
                </div>
                <div class="ui-g-8">
                    <input type="number" size="30" [(ngModel)]="totalDaysAnticipated" disabled="true" 
                    formControlName="formDiasAnticipados" pInputText/>
                </div>
            </div>

            <div class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
                <div class="">
                    Observaciones
                </div>
                <div class="">
                    <textarea [rows]="5" [cols]="30" pInputTextarea maxlength="200"
                        [(ngModel)]="observaciones" formControlName="formObservaciones"></textarea>
                </div>
            </div>
        </div>
    </form>

    

</p-fieldset>
