<div class="card ui-fluid">
    <div class="page-title">
        <app-cabeceraProceso></app-cabeceraProceso>
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-6" style="text-align: start">
                <h1 style="margin-bottom: 40px; color: #2f4050">
                    Aprobar Gerente
                </h1>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-6" style="text-align: end">
                <h4>Radicacion No: </h4>
            </div>
        </div>
    </div>



    <p-fieldset legend="Gestión del tramite">
        <div class="ui-fluid">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-g-4">
                        ¿Requiere remplazo?
                    </div>
                    <div class="ui-g-8" *ngIf="!!siONo.length">
                        <p-dropdown [options]="siONo" placeholder="Seleccione" optionLabel="nombre"
                                    [style]="{minWidth:'100%'}" [(ngModel)]="selectedSiONo" [filter]="true"></p-dropdown>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-g-4">
                        ¿Permiso remunerado?
                    </div>
                    <div class="ui-g-8" *ngIf="!!siONo.length">
                        <p-dropdown [options]="siONo" placeholder="Seleccione" optionLabel="nombre"
                                    [style]="{minWidth:'100%'}" [(ngModel)]="selectedSiONo" [filter]="true"></p-dropdown>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-2">
                        Nombre Remplazo
                    </div>
                    <div class="ui-g-10">
                        <p-dropdown  placeholder="Seleccione" optionLabel="nombre"
                                     [style]="{minWidth:'100%'}"  [filter]="true"></p-dropdown>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <div class="ui-g-4">
                        ¿Accion a seguir?
                    </div>
                    <div class="ui-g-8">
                        <p-dropdown  placeholder="Seleccione" optionLabel="nombre"
                                     [style]="{minWidth:'100%'}"  [filter]="true"></p-dropdown>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-2">
                        Observacion
                    </div>
                    <div class="ui-g-10">
                    <textarea  [rows]="1" [cols]="30" pInputTextarea
                               autoResize="autoResize" required></textarea>
                    </div>
                </div>
            </div>
        </div>
    </p-fieldset>

</div>

