<div class="card ui-fluid">
    <div class="page-title">
        <app-cabeceraProceso></app-cabeceraProceso>
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-6" style="text-align: start">
                <h1 style="margin-bottom: 40px; color: #2f4050">
                    GESTIONAR TRÁMITE
                </h1>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-6" style="text-align: end">
                <h4>Radicacion No: </h4>
            </div>
        </div>
    </div>
    <app-informacion-principal-lectura *ngIf="!!solicitud"
        [solicitud] = "solicitud"
        [requestType] = "requestType"
        [companyArea] = "companyArea"
        [identificationTypes] = "identificationTypes"
        [processManagers] = "processManagers">
    </app-informacion-principal-lectura>
    <app-solicitud-vacaciones-lectura *ngIf="!!solicitud && solicitud.idTipoTramite.id === 1"
        [solicitud] = "solicitud">
    </app-solicitud-vacaciones-lectura>
    <app-detalle-solicitud-lectura *ngIf="!!solicitud && solicitud.idTipoTramite.id != 10 && solicitud.idTipoTramite.id != 1"
        [solicitud] = "solicitud"
        [reasonForRequest] = "reasonForRequest">
    </app-detalle-solicitud-lectura>
    <app-trazabilidad-tramite *ngIf="false"
        [solicitud]="solicitud"
        
        >
    </app-trazabilidad-tramite>
    <app-gestion-tramite-visto-bueno
        [managementLegend]="managementLegend"
        (enviarInformacionGestion)="recibirInformacionGestion($event)">
    </app-gestion-tramite-visto-bueno>

    <app-botoneraProceso 
        [disabledForm]="disabledForm"
        [pantallaOrigen]="pantallaOrigen"
        (guardarEvent)="guardarEvent($event)">
    </app-botoneraProceso>
</div>